body{
    font-family: 'Arial', sans-serif;
    margin: 0px;
    padding: 0px;
}
.Container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.rightPane{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.Heading{
display: flex;
background-color: rgb(22, 75, 164);
/* background-image: linear-gradient(to right,rgb(42, 104, 210),rgb(12, 40, 89)); */
color: rgb(249, 249, 249);
padding: 15px;
height: 40vh;
display: flex;
flex-direction: row;
flex-wrap: 1;
}
.random-div{
background: rgb(128, 128, 128);
padding: 10px;
}
.HeadingText{
display: flex;
color: rgb(249, 249, 249);
margin: auto;
font-size: 35px;
display: flex;
flex-direction: row;
flex-wrap: 1;
}

.list-item{
  padding: 10px;
  color: rgb(22, 75, 164);
  font-size: 20px;
}

.List{
  margin: 10px;
}

.Body{
    display: flex;
    flex-direction: column;
}

.Navbar{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* background-color: rgb(10, 41, 96); */
    background-color: white;
    color: rgb(0, 41, 96)
    /* border-right: 2px solid white; */
    /* background-image: linear-gradient(to bottom,rgb(22, 75, 164),rgb(12, 40, 89)); */
}

.Nav-links{
    padding: 10px;
}

.Nav-links > a{
    color: rgb(0, 41, 96);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

.Nav-links:hover{
    background-color: rgb(235, 235, 235)
}

.Pagecontent{
    display: flex;
    flex-grow: 1;
}

.Card{
    box-shadow: 0px 0px 5px 5px rgba(50, 50, 50, 0.2);
    width: 50vw;
    margin: auto;
    background-color: white;
    position: relative;
    top: -50px;
}

.list-item{
    font-size: 20px;
}